* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
}
.cursor {
  height: 60px;
  width: 60px;
  background-color: #686868da;
  border-radius: 50%;
  position: fixed;
  z-index: 1;
}

#home-section {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 35px 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.part1 h1 {
  font-size: 30px;
  font-weight: 550;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.part1 h1 i {
  display: inline-block;
  rotate: 45deg;
  font-size: 38px;
}

nav .part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.part2 h3 {
  font-weight: 500;
  font-family: sans-serif;
  cursor: pointer;
}

.part2 button {
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: 550;
  border: 1.9px solid #000;
  cursor: pointer;
}

.center {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
}

.center-part1 {
  height: 100%;
  width: 50%;
}
.center-part1 h1 {
  font-size: 90px;
  font-weight: 400;
  line-height: 100px;
}
.center-part1 p {
  margin: 30px 0;
}
.black-btn {
  padding: 15px 40px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.center-part2 {
  height: 100%;
  width: 50%;
  position: relative;
}

.center-part2 img {
  height: 130%;
  width: 100%;
  position: absolute;
  right: 0;
}

.bottom-section {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bottom-section img {
  height: 125px;
  width: 125px;
  object-fit: contain;
}

#services-section {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 35px 100px;
}

.services {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 50px;
}

.services h3 {
  background-color: #b9ff66;
  font-size: 60px;
  padding: 5px;
  font-weight: 500;
  border-radius: 10px;
}

.services p {
  width: 50%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  padding: 40px 0;
}

.elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  height: 300px;
  width: 46%;
  border: 3px solid #000;
  border-radius: 50px;
  box-shadow: 0 6px 0 black;
  padding: 50px;
  position: relative;
}
.element1 h2 {
  background-color: #b9ff66;
  font-size: 30px;
  padding: 2px;
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 80px;
}
.element1 p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  gap: 15px;
  font-weight: 500;
}
.element1 p i {
  padding: 5px;
  background-color: #000;
  font-size: 35px;
  color: #fff;
  border-radius: 50%;
}

.elem img {
  height: 300px;
  width: 300px;
}

.black {
  background-color: #000;
}
.element-black h2 {
  width: 70%;
  background-color: #fff;
  color: #111;
}

.element-black p {
  color: #fff;
}
.element-black p i {
  background-color: white;
  color: #000;
}
.imgbox img {
  height: 150px;
  width: 150px;
}

#contact-section {
  margin-top: 150px;
  padding: 40px 100px;
}
.contact {
  background-color: #ebeaea;
  padding: 0px 80px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}
.contact-element {
  width: 35%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
.contact-element h2 {
  font-size: 45px;
  font-weight: 550;
}

#caseStudy-section {
  padding: 40px 100px;
}

.caseBox-container {
  margin-top: 50px;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background-color: rgb(32, 32, 32);
  color: #ffffffcd;
  font-weight: 400;
}
.caseBox {
  border-right: 2px solid #ffffffcd;
  padding-right: 40px;
}
.caseBox h4 {
  font-weight: 500;
  margin-bottom: 40px;
}
.caseBox p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 17px;
  color: #b9ff66;
  cursor: pointer;
}
.caseBox p i {
  font-size: 28px;
  color: #b9ff66;
}
